<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
    <link rel='stylesheet' href='/stylesheets/w3.css' />
    <link rel='stylesheet' href='/stylesheets/w3-theme-cyan.css' />
  </head>
  <body>
    <div class="w3-container w3-padding-4 w3-theme-d3">
      <div class="w3-right">
        <%= date %>
      </div>
    </div>
    <div class="w3-navbar w3-theme w3-xlarge w3-padding-4">
      <div class="w3-left w3-padding-medium">
        Hong Kong Holiday
      </div>
    </div>
  
    <header class="w3-container">