
<%- include('header') %>
      <h4><%= title %></h4>

      <div id="categories-container">
        
        <!--div class="demo-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">Placeholder</span>
          </div>
        </div-->

      </div>

<%- include('footer') %>
