
<%- include('header') %>
      <h1><%= title %></h1>
      <div class="w3-card-12" style="width:50%">
        <img src="/images/landmarks.jpg" style="width:100%">
        <div class="w3-container w3-center">
          <p>Text here</p>
        </div>

<%- include('footer') %>
