
<%- include('header') %>
      <script src="/javascripts/getcategories.js"></script>
      <h4><%= title %></h4>

      <div id="categories-container">
        
      </div>

<%- include('footer') %>
